@font-face {
  font-family: 'Basier Mono Circle';
  src: url('/fonts/Basier-Mono/Circle/basiercirclemono-regular-webfont.woff2')
      format('woff2'),
    url('/fonts/Basier-Mono/Circle/basiercirclemono-regular-webfont.woff')
      format('woff');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Basier Mono Circle';
  src: url('/fonts/Basier-Mono/Circle/basiercirclemono-regularitalic-webfont.woff2')
      format('woff2'),
    url('/fonts/Basier-Mono/Circle/basiercirclemono-regularitalic-webfont.woff')
      format('woff');
  font-weight: 400;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Basier Mono Circle';
  src: url('/fonts/Basier-Mono/Circle/basiercirclemono-medium-webfont.woff2')
      format('woff2'),
    url('/fonts/Basier-Mono/Circle/basiercirclemono-medium-webfont.woff')
      format('woff');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Basier Mono Circle';
  src: url('/fonts/Basier-Mono/Circle/basiercirclemono-mediumitalic-webfont.woff2')
      format('woff2'),
    url('/fonts/Basier-Mono/Circle/basiercirclemono-mediumitalic-webfont.woff')
      format('woff');
  font-weight: 500;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Basier Mono Circle';
  src: url('/fonts/Basier-Mono/Circle/basiercirclemono-semibold-webfont.woff2')
      format('woff2'),
    url('/fonts/Basier-Mono/Circle/basiercirclemono-semibold-webfont.woff')
      format('woff');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Basier Mono Circle';
  src: url('/fonts/Basier-Mono/Circle/basiercirclemono-semibolditalic-webfont.woff2')
      format('woff2'),
    url('/fonts/Basier-Mono/Circle/basiercirclemono-semibolditalic-webfont.woff')
      format('woff');
  font-weight: 600;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Basier Mono Circle';
  src: url('/fonts/Basier-Mono/Circle/basiercirclemono-bold-webfont.woff2')
      format('woff2'),
    url('/fonts/Basier-Mono/Circle/basiercirclemono-bold-webfont.woff')
      format('woff');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Basier Mono Circle';
  src: url('/fonts/Basier-Mono/Circle/basiercirclemono-bolditalic-webfont.woff2')
      format('woff2'),
    url('/fonts/Basier-Mono/Circle/basiercirclemono-bolditalic-webfont.woff')
      format('woff');
  font-weight: 700;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Basier Mono Square';
  src: url('/fonts/Basier-Mono/Square/basiersquaremono-regular-webfont.woff2')
      format('woff2'),
    url('/fonts/Basier-Mono/Square/basiersquaremono-regular-webfont.woff')
      format('woff');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Basier Mono Square';
  src: url('/fonts/Basier-Mono/Square/basiersquaremono-regularitalic-webfont.woff2')
      format('woff2'),
    url('/fonts/Basier-Mono/Square/basiersquaremono-regularitalic-webfont.woff')
      format('woff');
  font-weight: 400;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Basier Mono Square';
  src: url('/fonts/Basier-Mono/Square/basiersquaremono-medium-webfont.woff2')
      format('woff2'),
    url('/fonts/Basier-Mono/Square/basiersquaremono-medium-webfont.woff')
      format('woff');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Basier Mono Square';
  src: url('/fonts/Basier-Mono/Square/basiersquaremono-mediumitalic-webfont.woff2')
      format('woff2'),
    url('/fonts/Basier-Mono/Square/basiersquaremono-mediumitalic-webfont.woff')
      format('woff');
  font-weight: 500;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Basier Mono Square';
  src: url('/fonts/Basier-Mono/Square/basiersquaremono-semibold-webfont.woff2')
      format('woff2'),
    url('/fonts/Basier-Mono/Square/basiersquaremono-semibold-webfont.woff')
      format('woff');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Basier Mono Square';
  src: url('/fonts/Basier-Mono/Square/basiersquaremono-semibolditalic-webfont.woff2')
      format('woff2'),
    url('/fonts/Basier-Mono/Square/basiersquaremono-semibolditalic-webfont.woff')
      format('woff');
  font-weight: 600;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Basier Mono Square';
  src: url('/fonts/Basier-Mono/Square/basiersquaremono-bold-webfont.woff2')
      format('woff2'),
    url('/fonts/Basier-Mono/Square/basiersquaremono-bold-webfont.woff')
      format('woff');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Basier Mono Square';
  src: url('/fonts/Basier-Mono/Square/basiersquaremono-bolditalic-webfont.woff2')
      format('woff2'),
    url('/fonts/Basier-Mono/Square/basiersquaremono-bolditalic-webfont.woff')
      format('woff');
  font-weight: 700;
  font-style: italic;
  font-display: swap;
}
