@import 'fonts/Basier-Mono/font-face.css';
@import 'fonts/Inter/font-face.css';
@import 'styles/palette.css';
@import 'styles/syntax-highlighting.css';
@import 'styles/type-scale.css';

:root {
  --font-mono-circle: 'Basier Mono Circle', monospace;
  --font-mono-square: 'Basier Mono Square', monospace;
}

html {
  font-family: 'Inter', sans-serif;
  font-feature-settings: 'calt';
  font-size: 1rem;
  line-height: 1.75;
}

@supports (font-variation-settings: normal) {
  html {
    font-family: 'Inter var', sans-serif;
  }

  @media (prefers-color-scheme: dark) {
    body:not(.light) {
      font-weight: 410;
    }
  }

  body.dark {
    font-weight: 410;
  }
}

* {
  box-sizing: border-box;
}

h1 {
  margin: 2.5em 0 1.3rem;
  font-family: var(--font-mono-square);
  font-weight: 400;
  letter-spacing: -0.05em;
  line-height: 1.3;
}

@media all and (min-width: 768px) {
  h1 {
    margin: 2em 0 1em;
  }

  h1.huge {
    margin: 1.5em 0 0.3em;
  }
}

@media all and (min-width: 1366px) {
  h1.huge {
    margin: 1em 0 0.3em;
  }
}

h2 {
  margin: 0.9em 0 0.6em;
  font-weight: 400;
  line-height: 1.3;
  font-feature-settings: 'kern', 'ss03';
}

h3,
h4,
h5 {
  margin: 0.3em 0 0.3em;
  font-weight: 400;
  line-height: 1.3;
}

p {
  margin: 0 0 1rem;
}

strong {
  font-weight: 600;
}

em {
  font-style: italic;
}

/* GENERAL ****************************************************************************************/

html {
  position: relative;
  overflow-x: hidden;
}

html,
body,
#sapper {
  width: 100%;
  height: 100%;

  margin: 0;
  padding: 0;
}

body {
  background: var(--bg);
  color: var(--text);
}

main {
  display: flex;
  justify-content: center;
}

article {
  width: 100%;
  padding: 0 1rem;
}

@media all and (min-width: 768px) {
  article {
    padding: 0 7rem;
    display: grid;
    grid-template-columns: repeat(3, minmax(0, 1fr));
    grid-gap: 0 3rem;
    grid-auto-flow: row dense;
  }

  article > * {
    grid-column-start: 1;
    grid-column-end: 4;
  }

  article > .text {
    grid-column-end: 3;
  }

  article > .pic {
    grid-column-start: 3;
  }
}

@media all and (min-width: 1366px) {
  article {
    grid-template-columns: repeat(5, minmax(0, 1fr));
    grid-gap: 0 6rem;
  }

  article > * {
    grid-column-start: 2;
    grid-column-end: 6;
  }

  article > h1 {
    grid-column-start: 1;
  }

  article > .text {
    grid-column-end: 4;
  }

  article > .pic {
    grid-column-start: 4;
    grid-column-end: 6;
  }
}

/* EMPHASIS ***************************************************************************************/

mark {
  color: var(--text);
  background-color: transparent;
  background-image: linear-gradient(
    var(--bg) 60%,
    var(--mark) 60%,
    var(--mark) 100%,
    var(--bg) 100%
  );
  box-shadow: inset 0 0.5em 0 1px var(--bg);
  border-radius: 0;
  transition: background-image ease-in 0.3s;
}

mark:hover {
  box-shadow: none;
  background-image: linear-gradient(
    var(--secondary-color-200),
    var(--secondary-color-200)
  );
}

/* LINK *******************************************************************************************/

a {
  color: inherit;
  text-decoration: none;
  transition: all ease-out 150ms;
}

p a {
  color: var(--primary-color-600);

  text-shadow: 0 0.03em var(--bg);
  background-image: linear-gradient(var(--bg), var(--bg)),
    linear-gradient(var(--bg), var(--bg)),
    linear-gradient(var(--line), var(--line));
  background-position: 0 99%, 100% 99%, 0 99%;
  background-size: 0.05em 1px, 0.05em 1px, 1px 1px;
  background-repeat: no-repeat, no-repeat, repeat-x;
}

p a:hover {
  color: var(--primary-color);
  background-image: linear-gradient(var(--bg), var(--bg)),
    linear-gradient(var(--bg), var(--bg)),
    linear-gradient(var(--primary-color), var(--primary-color));
}

/* LIST */

article ul {
  margin-top: 0;
  padding-left: 1.75rem;
}

article li {
  position: relative;
  padding-left: 0;
  list-style-type: none;
}

article li::before {
  content: '';
  position: absolute;
  top: 11px;
  left: -12px;
  width: 4px;
  height: 4px;
  border: solid 1px var(--text);
  border-radius: 100%;
}

/* CODE *******************************************************************************************/

code,
pre {
  border-radius: 4px;
  font-family: var(--font-mono-circle);
  font-size: 14px;
  color: var(--tertiary-color-900);
  box-shadow: inset 0 1px 2px 0 var(--tertiary-color-100);
}

code {
  padding: 0 0.25rem;
  font-weight: 500;
  background: var(--tertiary-color-50);
}

pre {
  margin-top: 0;
  padding: 0.5rem 1rem;
  overflow-x: auto;
  letter-spacing: -0.025rem;
  line-height: 1.5;
  tab-size: 2;
  hyphens: none;
  word-break: normal;
  white-space: pre;
  word-spacing: normal;
  color: var(--tertiary-color-900);
  background: conic-gradient(
    from 0.5turn at bottom center,
    var(--grey-0),
    var(--tertiary-color-50)
  );
}

pre code {
  padding: 0;
  font-weight: 400;
  background: transparent;
  box-shadow: none;
}

@media not screen and (min-width: 768px) {
  pre {
    margin-left: -1rem;
    margin-right: -1rem;
    border-radius: 0;
  }
}

/* SELECTION & FOCUS ******************************************************************************/

::selection {
  background-color: var(--secondary-color);
  color: var(--text);
  text-shadow: none;
}

:focus-visible {
  box-shadow: 0 0 0 4px var(--secondary-color);
  outline: none;
  transition-delay: 0.1s;
}

a::selection,
a:focus-visible {
  /* Fixes selection style of links with prettier underline */
  text-shadow: none;
}

/* ANIMATIONS *************************************************************************************/

@keyframes appear {
  0% {
    opacity: 0;
    transform: translate3d(0, 1vw, 0);
  }
  90% {
    opacity: 1;
  }
  100% {
    transform: translate3d(0, 0, 0);
  }
}

@media all and (min-width: 768px) {
  .appear {
    animation: appear 0.8s ease-in-out both;
  }
}
