:root {
  --primary-color-100: #fde2ec;
  --primary-color-200: #f8a8c5;
  --primary-color-300: #f36d9e;
  --primary-color-400: #f0508a;
  --primary-color-500: #ee3377;
  --primary-color-600: #e5135f;
  --primary-color-700: #bf104f;
  --primary-color-800: #720a30;
  --primary-color-900: #260310;
  --primary-color: var(--primary-color-500);
  --illustration-primary: var(--primary-color-500);

  --secondary-color-100: #fef7e4;
  --secondary-color-200: #fce8ad;
  --secondary-color-300: #fbd877;
  --secondary-color-400: #fad15b;
  --secondary-color-500: #f9c940;
  --secondary-color-600: #f8bd15;
  --secondary-color-700: #d9a207;
  --secondary-color-800: #826104;
  --secondary-color-900: #2b2001;
  --secondary-color: var(--secondary-color-500);

  --tertiary-color-50: #f0fafe;
  --tertiary-color-100: #e2f5fd;
  --tertiary-color-200: #a8e2f8;
  --tertiary-color-300: #6dcef3;
  --tertiary-color-400: #50c5f0;
  --tertiary-color-500: #33bbee;
  --tertiary-color-600: #13abe5;
  --tertiary-color-700: #108fbf;
  --tertiary-color-800: #0a5672;
  --tertiary-color-900: #031d26;
  --tertiary-color-950: #020e13;
  --tertiary-color: var(--tertiary-color-500);
  --illustration-tertiary: var(--tertiary-color-500);

  --grey-0: #ffffff;
  --grey-25: #f1f2f4;
  --grey-50: #eaebef;
  --grey-100: #d2d4dc;
  --grey-200: #b9bdca;
  --grey-300: #a1a5b7;
  --grey-400: #888ea5;
  --grey-500: #707792;
  --grey-600: #5d637a;
  --grey-700: #4a4f62;
  --grey-800: #383b49;
  --grey-900: #252831;
  --grey-950: #131418;
  --grey-1000: #000000;
  --grey: var(--grey-200);

  --bg-article: var(--grey-0);
  --bg-special: var(--grey-50);
  --bg: var(--bg-article);

  --header: #ffffff99;
  --mark: var(--secondary-color-200);

  --text: var(--grey-950);
  --logo-color: var(--primary-color);
  --line: var(--grey-50);
}

/* DARK MODE **************************************************************************************/

@media (prefers-color-scheme: dark) {
  body:not(.light) {
    --primary-color-900: #fde2ec;
    --primary-color-800: #f8a8c5;
    --primary-color-700: #f36d9e;
    --primary-color-600: #f0508a;
    --primary-color-400: #e5135f;
    --primary-color-300: #bf104f;
    --primary-color-200: #720a30;
    --primary-color-100: #260310;
    --illustration-primary: var(--primary-color-300);

    --secondary-color-900: #fef7e4;
    --secondary-color-800: #fce8ad;
    --secondary-color-700: #fbd877;
    --secondary-color-600: #fad15b;
    --secondary-color-400: #f8bd15;
    --secondary-color-300: #d9a207;
    --secondary-color-200: #826104;
    --secondary-color-100: #2b2001;

    --tertiary-color-950: #f0fafe;
    --tertiary-color-900: #e2f5fd;
    --tertiary-color-800: #a8e2f8;
    --tertiary-color-700: #6dcef3;
    --tertiary-color-600: #50c5f0;
    --tertiary-color-400: #13abe5;
    --tertiary-color-300: #108fbf;
    --tertiary-color-200: #0a5672;
    --tertiary-color-100: #031d26;
    --tertiary-color-50: #020e13;
    --illustration-tertiary: var(--tertiary-color-300);

    --grey-1000: #ffffff;
    --grey-950: #eaebef;
    --grey-900: #d2d4dc;
    --grey-800: #b9bdca;
    --grey-700: #a1a5b7;
    --grey-600: #888ea5;
    --grey-500: #707792;
    --grey-400: #5d637a;
    --grey-300: #4a4f62;
    --grey-200: #383b49;
    --grey-100: #252831;
    --grey-50: #131418;
    --grey-25: #0b0c0f;
    --grey-0: #000000;
    --grey: var(--grey-200);

    --bg-article: var(--grey-50);
    --bg-special: var(--grey-100);
    --bg: var(--bg-article);

    --header: #13141899;
    --mark: #82610466;

    --text: var(--grey-1000);
    --logo-color: var(--primary-color);
    --line: var(--grey-100);
  }

  img {
    filter: grayscale(16%);
  }
}

body.dark {
  --primary-color-900: #fde2ec;
  --primary-color-800: #f8a8c5;
  --primary-color-700: #f36d9e;
  --primary-color-600: #f0508a;
  --primary-color-400: #e5135f;
  --primary-color-300: #bf104f;
  --primary-color-200: #720a30;
  --primary-color-100: #260310;
  --illustration-primary: var(--primary-color-300);

  --secondary-color-900: #fef7e4;
  --secondary-color-800: #fce8ad;
  --secondary-color-700: #fbd877;
  --secondary-color-600: #fad15b;
  --secondary-color-400: #f8bd15;
  --secondary-color-300: #d9a207;
  --secondary-color-200: #826104;
  --secondary-color-100: #2b2001;

  --tertiary-color-950: #f0fafe;
  --tertiary-color-900: #e2f5fd;
  --tertiary-color-800: #a8e2f8;
  --tertiary-color-700: #6dcef3;
  --tertiary-color-600: #50c5f0;
  --tertiary-color-400: #13abe5;
  --tertiary-color-300: #108fbf;
  --tertiary-color-200: #0a5672;
  --tertiary-color-100: #031d26;
  --tertiary-color-50: #020e13;
  --illustration-tertiary: var(--tertiary-color-300);

  --grey-1000: #ffffff;
  --grey-950: #eaebef;
  --grey-900: #d2d4dc;
  --grey-800: #b9bdca;
  --grey-700: #a1a5b7;
  --grey-600: #888ea5;
  --grey-500: #707792;
  --grey-400: #5d637a;
  --grey-300: #4a4f62;
  --grey-200: #383b49;
  --grey-100: #252831;
  --grey-50: #131418;
  --grey-25: #0b0c0f;
  --grey-0: #000000;
  --grey: var(--grey-200);

  --bg-article: var(--grey-50);
  --bg-special: var(--grey-100);
  --bg: var(--bg-article);

  --header: #13141899;
  --mark: #82610466;

  --text: var(--grey-1000);
  --logo-color: var(--primary-color);
  --line: var(--grey-100);
}

body.dark img {
  filter: grayscale(16%);
}
