<script lang="ts">
  export let segment: '' | 'blog';
</script>

<nav>
  <ul>
    <li class="name">
      <a href="/">Lena Schnedlitz</a>
    </li>
    <li>
      <a
        rel="prefetch"
        aria-current={segment === 'blog' ? 'page' : undefined}
        href="/blog">Blog</a
      >
      <a href="mailto:lena.schnedlitz@mail.de">Contact Me</a>
    </li>
  </ul>
</nav>

<style>
  nav {
    font-weight: 500;
    flex-grow: 1;
    --height: 1.5rem;
  }

  ul {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: right;
    align-items: center;
  }

  li {
    list-style: none;
    height: var(--height);
    line-height: var(--height);
  }

  li.name {
    margin-left: calc(44px - var(--item-padding));
    margin-right: auto;
    font-size: 1.25rem;
  }

  
  @media not screen and (min-width: 768px) {
    li.name {
      max-width: 0;
      opacity: 0;
      pointer-events: none;
    }
  }

  a {
    position: relative;
    padding: 0 var(--item-padding);
  }

  a:hover {
    color: var(--primary-color-600);
  }

  a::after {
    position: absolute;
    content: '';
    bottom: -0.2rem;
    left: calc(100% - var(--item-padding));
    display: block;
    height: 1px;
    width: 0;
    background-color: currentColor;
    transition: all ease-out 0.1s;
  }

  [aria-current]::after {
    left: var(--item-padding);
    width: calc(100% - calc(var(--item-padding) * 2));
    transition: width ease-in 0.2s;
  }

  @media all and (min-width: 768px) {
    nav {
      --height: 2rem;
    }
  }
</style>
